.header {
 width: 100%;
 height: 10vh;
 padding: 1rem;
 @include flex(flex-start, center, row);
 animation-name: showFromTop;
 animation-delay: 0.5s;
 animation-duration: 1s;
 animation-fill-mode: both;
 animation-iteration-count: 1;

 &__logo {
  height: 4.3rem;
 }
 &__heading {
  font-size: $l;
  color: $green;
  text-transform: uppercase;
 }
}
