.main {
 height: 90vh;
 @include flex(space-between, center, column);

 &__heading {
  font-size: $m;
  color: $white;
  text-align: center;
  margin-top: 6rem;
  animation-name: appear;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;

  &--highlighted {
   color: $green;
  }
 }

 &__container {
  width: 100%;
  display: flex;
  justify-content: center;
  animation-name: appear;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
 }

 &__link {
  text-decoration: none;
  color: $green;
  border: 0.2rem solid $green;
  background: none;
  font-size: $s;
  text-transform: uppercase;
  padding: 0.8rem 3rem;
  margin: $spacing 0;
  border-radius: 2.4rem;
  cursor: pointer;
  outline: none;
  transition: color 0.3s linear, border 0.3s linear;
  position: relative;

  &::after {
   content: '';
   position: absolute;
   display: block;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   box-shadow: 0 0 2rem rgba(0, 200, 150, 0.35);
   border-radius: 2.4rem;
   opacity: 0;
   transition: opacity 0.3s ease;
  }

  &:hover {
   &.main__link::after {
    opacity: 1;
   }
  }

  &:active {
   &.main__link::after {
    opacity: 1;
   }
  }
 }

 &__image {
  height: 20rem;
  display: block;
  animation-name: showFromBottom;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
 }
}
