.planet {
 min-height: 100vh;
 position: relative;
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center center;
 background-color: $black;
 &::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
 }

 &__container {
  padding: $spacing;
  @include flex(center, flex-start, column);
  position: relative;
  z-index: 1;
  animation: appear 1s ease 0.5s normal 1 both;
 }

 &__name {
  color: $green;
  font-size: $l;
  margin: 0;
  margin-bottom: $spacing;
 }

 &__btn {
  position: absolute;
  top: $spacing;
  right: $spacing;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  display: block;
 }

 &__arrow {
  width: 100%;
  height: 100%;
  display: block;
 }

 &__data {
  color: $white;
  font-size: $x;
  margin: 0;
  padding-bottom: $spacing;
  font-weight: 400;

  &--highlighted {
   position: relative;
   color: $green;
   margin-left: 0.8rem;
   font-weight: 700;
  }
 }
}
